header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  z-index: 100;
  padding: 0 10px;
  height: 60px;
  width: 100%;
}

header > * {
  margin: auto;
}

.header-items {
  display: inline-flex;
  flex-direction: row;
  border-radius: 0px 0px 5px 5px;
  width: fit-content;
  position: relative;
  padding-top: 15px;
  top: -10px;
  box-shadow: 0 0 10px 0 #ddd;
  align-items: center;
  max-height: 50px;
  background-color: rgba(255, 255, 255, 0.78);
  backdrop-filter: blur(12px);
}

.header-items > .logo-1 {
  width: 25px;
  height: 25px;
}

.header-items > a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #0c1b33;
  transition: 0.25s;
  padding: 10px 20px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.header-items > a:hover {
  color: #3a86ff;
}

.header-items > a.active {
  border-radius: 5px;
}

.hamburger-menu {
  display: none;
}

header .navbar {
  display: block;
}

.logo-name {
  display: block;
}

.mobile-navbar.open {
  transform: translateX(0);
  transition: transform 3s ease;
}

.header-items {
  backdrop-filter: none;
}

.mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  .header-items {
    background: none;
  }

  .logo {
    background: none;
  }

  .hamburger-menu {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 100;
    justify-self: start;
    margin-left: 30px;
    font-size: 25px;
  }

  .header-items svg {
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-name {
    display: none;
  }

  .header-items {
    justify-self: center;
    flex-grow: 1;
    justify-content: center;
    background: none;
    box-shadow: none;
    padding: none;
  }

  .hamburger-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 10px 0 #ddd;
  }

  .waitlist-container Button {
    background: none;
    color: var(--primary-color);
    margin-top: 4px;
  }

  .logo-1 {
    flex: 1;
    text-align: center;
    width: 100%;
  }

  .waitlistLink {
    justify-self: end;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
  }

  .desktop-navbar {
    display: none;
  }
}
