.empower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-email {
  text-align: center;
  margin: 0 -120px;
}

.user-email h2 {
  margin-bottom: 20px;
}

.user-email h1 span {
  color: #4c88f6;
}

.user-email .email-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.user-email .email-input input {
  margin-right: -4%;
  font-size: 16px;
  padding: 9px 60px 9px 20px;
  min-width: 220px;
  background-color: white;
}

.user-email .email-input button,
.user-email .email-input input {
  border-radius: 10px;
  border: 1px solid #4c88f6;
  outline: none;
}

.user-email .email-input input::placeholder {
  position: relative;
  color: #6b7380;
  opacity: 75%;
  left: 0px;
}

.subtitle {
  position: relative;
  width: 40vw;
  left: 0;
  text-align: center;
  top: -10px;
  margin: 0 50px;
  color: var(--secondary-text-color);
}

.signup-mist-1 {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 550px;
  top: 300px;
  z-index: -1;
}

.left-wing,
.right-wing {
  margin-bottom: -120px;
}

@media screen and (max-width: 740px) {
  .left-wing,
  .right-wing {
    display: none;
  }

  .empower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-email {
    text-align: center;
    margin: 0 -20px;
  }

  .user-email h2 {
    margin-bottom: 10px;
  }

  .user-email h1 span {
    color: #4c88f6;
  }

  .user-email .email-input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .user-email .email-input input {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    min-width: 220px;
    background-color: white;
  }

  .user-email .email-input button,
  .user-email .email-input input {
    border-radius: 10px;
    border: 1px solid #4c88f6;
    outline: none;
  }

  .user-email .email-input input::placeholder {
    position: relative;
    color: #6b7380;
    opacity: 75%;
    left: 0px;
  }

  .left-wing,
  .right-wing {
    margin-bottom: -20px;
  }

  .subtitle {
    position: relative;
    width: 80vw;
    text-align: center;
    top: -10px;
    margin: 0 20px;
    color: var(--secondary-text-color);
  }

  .signup-mist-1 {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

@media screen and (max-width: 500px) {
  .user-email h2 {
    font-size: 24px;
  }

  .user-email p {
    font-size: 14px;
    max-width: 276px;
  }

  .user-email .email-input {
    width: 100%;
  }
}
