.bg {
  /* margin-top: 50px; */
  background: url('../../public/assets/arrow_bg.png') top/cover;
  background-size: 100% 100%;
  margin-bottom: 50px;
}

.team-component {
  min-height: 1000px;
  text-align: center;
  width: 100%;
  margin-block: 100px;
  margin-top: 100px;
}

.text-component h5,
h2 {
  margin: 0;
  padding: 0;
}

.team-component p {
  max-width: 800px;
  margin: auto;
  opacity: 0.7;
}

h5 {
  font-size: 22px;
  margin: 15px;
}

.heading span {
  color: #3a86ff;
}

.head-title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.team-cards {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  gap: 30px;
}

.team-cards img {
  width: 100%;
  max-width: 110px;
}

.team-card {
  flex: 0 0 auto; /* Adjust this to control the card width */
  padding: 10px;
  padding-block: 50px;
  margin: 10px;
  display: grid;
  place-items: center;
  min-width: 280px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.team-card img,
.team-card h5,
.team-card p {
  flex-shrink: 0;
}

.join-team-section {
  width: 100vw;
  border-top: 2px solid #f2f7ff;
  border-bottom: 2px solid #f2f7ff;
  padding: 25px 0px;
}

.join-team-section p {
  margin-bottom: 20px;
}

.team-cards::-webkit-scrollbar {
  height: 10px;
}

.team-cards::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.team-cards::-webkit-scrollbar-thumb:hover {
  background: #555;
}
