.project-margin {
  margin-top: 40px;
}

.mission-component {
  position: relative;
}

.features-component {
  position: relative;
  margin-top: 250px;
}

.project-component {
  margin-top: 150px;
}

.development-component {
  margin-top: 150px;
  margin-bottom: 150px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

@media (max-width: 768px) {
  .header {
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 200;
  }
}
