.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  margin: auto;
  max-width: 71.25rem;
  padding: 4rem 1rem;
  text-align: center;
  margin-top: 25px;
}

.title {
  margin: auto;
  max-width: 60rem;
  width: 100%;
  line-height: 70px;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.huge-font {
  font-size: 80px;
}

.title-sm {
  font-size: 4.5rem;
}

.blue-wave {
  position: absolute;
  top: 66.66%;
  left: 0;
  height: 0.58em;
  width: 100%;
  fill: rgba(173, 216, 230, 0.7);
}

.relative-span {
  position: relative;
}

.text-primary {
  color: var(--primary-color);
}

.description {
  margin: auto;
  margin-top: 1.5rem;
  max-width: 60rem;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

.button-group {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.button-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-group button svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-transition {
  transition: opacity 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-gradient {
  animation: fadeIn 0.5s;
}

@media screen and (max-width: 768px) {
  .hero-container {
    max-width: 80vw;
    margin-top: 25px;
  }

  .title {
    max-width: 80vw;
    font-size: 45px;
  }

  .huge-font {
    font-size: 45px;
  }

  .description {
    margin-top: 1.5rem;
    max-width: 60rem;
    font-size: 20px;
  }

  .button-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .join-waitlist-button {
    width: 80vw;
  }
}
