.hero {
  /* background-image: url('../../../assets/blury_bg_gradient.svg'); */
  background-repeat: no-repeat;
  background-size: cover; /* Adjust as needed */
  background-position: center;
}

/* Main container for the hero section */
.hero-container {
  margin: auto;
  max-width: 71.25rem;
  padding: 4rem 1rem;
  text-align: center;
  margin-top: 25px;
}

/* Main title styles */
.title {
  margin: auto;
  max-width: 64vw;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

/* Larger font size for emphasis */
.huge-font {
  font-size: 80px;
}

/* Smaller title variant */
.title-sm {
  font-size: 4.5rem;
}

/* Blue wave SVG decoration for the title */
.blue-wave {
  position: absolute;
  top: 66.66%;
  left: 0;
  height: 0.58em;
  width: 100%;
  fill: rgba(173, 216, 230, 0.7);
}

/* Relative positioning container for inline elements */
.relative-span {
  position: relative;
}

/* Primary color text for emphasis */
.text-primary {
  color: var(--primary-color);
}

/* Description text below the title */
.description {
  margin: auto;
  margin-top: 1.5rem;
  max-width: 60rem;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

/* Group of buttons below the description */
.button-group {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* Transition effect for text opacity */
.text-transition {
  transition: opacity 0.5s;
}

/* Fade-in animation for text */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Text gradient effect with fade-in animation */
.text-gradient {
  animation: fadeIn 0.5s;
}

/* Ensure Hero Section is mobile responsive */
@media screen and (max-width: 768px) {
  .hero-container {
    max-width: 80vw;
    margin-top: 25px;
  }

  .title {
    max-width: 80vw;
    font-size: 45px;
  }

  .huge-font {
    font-size: 45px;
  }

  .description {
    margin-top: 1.5rem;
    max-width: 60rem;
    font-size: 20px;
  }

  .button-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .join-waitlist-button {
    width: 80vw;
  }
}
