/* Footer styling */
.footer {
  background-color: #f2f7ff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
}

/* Logo styling */
.footer .footer-logo {
  grid-row: span 2;
}

/* Social media icons styling */
.social-media-icons {
  grid-column: span 2;
}

/* Footer menu styling */
.footer-menu {
  grid-column: span 2;
  margin-right: auto;
}

/* Styling for lists inside footer menu and social media icons */
.footer-menu ul,
.social-media-icons ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

/* Horizontal line styling in footer menu */
.footer-menu hr {
  width: 76vw;
}

/* Padding for lists inside footer menu */
.footer-menu ul {
  padding: 0;
}

/* Align social media icons to the right */
.social-media-icons ul {
  justify-content: flex-end;
}

/* Styling for 'Join Discord' section in footer */
.footer-join-discord {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button styling */
.footer-join-discord button {
  height: 60%;
  padding: 0 20px;
}

/* Button styling */
.footer-join-discord button {
  background-color: #3a86ff;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 760px) {
  .footer {
      grid-template-columns: 1fr;
  }
  .footer .footer-logo {
      grid-column: span 1;
      grid-row: span 1;
  }
  .footer-logo svg {
      width: 40px;
      height: 40px;
  }
  .footer-logo h3 {
      font-size: 1rem;
  }
  .social-media-icons {
      grid-column: span 1;
      margin-right: auto;
  }
  .social-media-icons ul {
      padding: 0;
  }
  .footer-menu {
      grid-column: span 1;
  }
  .footer-menu ul {
      justify-content: space-between;
  }
  .footer-join-discord {
      grid-column: span 1;
      margin-left: auto;
  }
  .footer-join-discord h3 {
      display: none;
  }
  .footer-menu hr {
      width: 100%;
  }
}
@media screen and (max-width: 450px){
  .footer-join-discord {
     height: 50px;
     width: 210px;
     margin-top: -50px; 
  }
}

@media screen and (max-width: 360px){
  .footer-join-discord {
     height: 50px;
     width: 180px;
     margin-top: -50px; 
  }
}