.footer {
  background-color: #f2f7ff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 150px;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 25px;
  padding-bottom: 20px;
}

/* Logo styling */
.footer .footer-logo {
  grid: none;
  display: flex;
}

/* Social media icons styling */
.social-media-icons {
  grid-column: span 2;
  margin-top: 11px;
}


.social-media-icons li {
  cursor: pointer;
}

.social-media-icons li:hover {
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

/* Footer menu styling */
.footer-menu {
  grid-column: span 2;
  margin-right: auto;
  margin-top: 11px;
  margin-left: 25px;
}

/* Styling for lists inside footer menu and social media icons */
.footer-menu ul,
.social-media-icons ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* Horizontal line styling in footer menu */
.footer-menu hr {
  width: 100%;
}

/* Padding for lists inside footer menu */
.footer-menu ul {
  padding: 0;
}

/* Align social media icons to the right */
.social-media-icons ul {
  justify-content: flex-end;
}


.footer-title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 14px;
  margin-top: 7px;
}

/* Media query for smaller screens */
@media screen and (max-width: 760px) {
  .footer {
      grid-template-columns: 1fr;
  }
  .footer .footer-logo {
      grid-column: span 1;
      grid-row: span 1;
  }
  .footer-logo svg {
      width: 40px;
      height: 40px;
  }
  .footer-logo h3 {
      font-size: 1rem;
  }
  .social-media-icons {
      grid-column: span 1;
      margin-right: auto;
  }
  .social-media-icons ul {
      padding: 0;
  }
  .footer-menu {
      grid-column: span 1;
  }
  .footer-menu ul {
      justify-content: space-between;
  }
  .footer-join-discord {
      grid-column: span 1;
      margin-left: auto;
  }
  .footer-join-discord h3 {
      display: none;
  }
  .footer-menu hr {
      width: 100%;
  }
}
@media screen and (max-width: 450px){
  .footer-join-discord {
     height: 50px;
     width: 210px;
     margin-top: -50px; 
  }
}

@media screen and (max-width: 360px){
  .footer-join-discord {
     height: 50px;
     width: 180px;
     margin-top: -50px; 
  }
}