/* Chevron Styles */
.chevron {
    width: 100%;
    max-height: 50px; 
    fill: url(#gradient);
}

/* Gradient background for the chevron */
.chevron-gradient {
    position: absolute;
    /* top: 400px; */
    height: 200px;
    width: 100vw;
    z-index: 5;
}

/* White background for the chevron */
.chevron-white {
    position: absolute;
    height: 200px;
    z-index: 3;
    top: 50px;
}

/* Second gradient background for the chevron */
.second-chevron-gradient {
    position: absolute;
    height: 200px;
    top: 100px;
    z-index: 5;
}

/* Gradient color definitions for the chevron */
.chevron-gradient stop:first-child {
    stop-color: var(--primary-gradient-color);
}
.chevron-gradient stop:last-child {
    stop-color: var(--primary-color);
}

/* White color definitions for the chevron */
.chevron-white stop:first-child {
    stop-color: #ffffff;
}
.chevron-white stop:last-child {
    stop-color: #ffffff;
}

/* Left column of the main content */
.left-column {
    position: relative;
    width: 50%;
}

/* Slogan text style */
/*.slogan {
    position: relative;
    top: 18vh;
    margin-right: 5%;
}*/

/* Logo styles with different positions and rotations */
.logo-1 {
    position: relative;
    top: 8%;
    left: 8%;
    transform: rotate(-30deg);
}
.logo-2 {
    position: relative;
    top: 12%;
    left: 14%;
}
.logo-3 {
    position: relative;
    top: -55%;
    left: 40%;
    transform: rotate(30deg);
}
/*@media screen and (max-width: 750px) {
    .right-column{
        display: none;
    }
    .left-column{
        width: 100%;
    }
   
}*/
/*@media screen and (max-width: 500px) {

    .left-column{
        top: -70px;
    }
    .main-div{
        padding: 0px 20px;
        width: auto;
        height: 457px;
    }
    .main-div p {
        font-size: 15px;
        letter-spacing: 0.1px;
        font-weight: 400;
        align-content: center;
     }
     .main-div h2 {
        font-weight: 500;
        font-size: 36px;
        font-family: var(--heading-font);
     }
     .main-div h3 {
        font-size: 13px;
     }

     .right-column {
        display: none;
     }
}*/

/*@media screen and (max-width: 360px){
    .left-column {
      width: 100%;
    }

  }*/