.chevron {
  width: 100%;
  max-height: 50px;
  fill: url(#gradient);
}

.chevron-gradient {
  position: absolute;

  height: 200px;
  width: 100vw;
  z-index: 5;
}

.chevron-white {
  position: absolute;
  height: 200px;
  z-index: 3;
  top: 50px;
}

.second-chevron-gradient {
  position: absolute;
  height: 200px;
  top: 100px;
  z-index: 5;
}

.chevron-gradient stop:first-child {
  stop-color: var(--primary-gradient-color);
}

.chevron-gradient stop:last-child {
  stop-color: var(--primary-color);
}

.chevron-white stop:first-child {
  stop-color: #ffffff;
}

.chevron-white stop:last-child {
  stop-color: #ffffff;
}

.left-column {
  position: relative;
  width: 50%;
}

.logo-1 {
  position: relative;
  top: 8%;
  left: 8%;
  transform: rotate(-30deg);
}

.logo-2 {
  position: relative;
  top: 12%;
  left: 14%;
}

.logo-3 {
  position: relative;
  top: -55%;
  left: 40%;
  transform: rotate(30deg);
}
